<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1kTiNoA_pmccfQwfEFLKbcLaCOj9qRco</string>
	<key>GCM_SENDER_ID</key>
	<string>911137995684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verifyEmailFirebaseAuthFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ettaba-99fa8</string>
	<key>STORAGE_BUCKET</key>
	<string>ettaba-99fa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911137995684:ios:c99ffd52fc34b664c25f31</string>
</dict>
</plist>